{% extends "base.html" %} {% block content %}

<form
  class="import"
  method="post"
  action="{{ url_for('import_data') }}"
  enctype="multipart/form-data"
>
  <label for="file">Choose file for import:</label><br />
  <input type="file" name="file" id="file" /><br /><br />
  <input type="submit" value="Import" />
</form>
<br />
<form method="get" action="{{ url_for('export_data') }}">
  <input type="submit" value="Export" />
</form>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>unit</th>
      <th>unit_price</th>
      <th>quantity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for item in ITEMS %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.unit }}</td>
      <td>{{ item.unit_price }}</td>
      <td>{{ item.quantity }}</td>
      <td>
        <form
          action="{{ url_for('sell_product', product_name=item.name) }}"
          method="post"
        >
          {{ item.form.csrf_token }} {{ item.form.quantity }} {{
          item.form.submit }}
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<form method="POST" action="/add">
  {{ form.csrf_token }}
  <table>
    <td>{{ form.name.label }} {{ form.name(value='') }}</td>
    <td>{{ form.unit.label }} {{ form.unit(value='') }}</td>
    <td>{{ form.unit_price.label }} {{ form.unit_price(value='') }}</td>
    <td>{{ form.quantity.label }} {{ form.quantity(value='') }}</td>
    <td><input type="submit" value="Add product" /></td>
  </table>
</form>
{% endblock content %}
